<div>Results</div>

<%= render partial: 'tv_shared/tvshows', locals: {tvshows: @tvshows} %>

<% locals = {                         %>
<%  controller: 'tvshows',    %>
<%  action: 'index',                  %>
<%  searchbar_input: @searchbar_input %>
<% }                                  %>

<%= render partial: 'tv_shared/page_numbers', locals: locals %>
