<h1 class='app-title'>Popular TV Shows</h1>

<%= render partial: 'tv_shared/tvshows', locals: {tvshows: @tvshows} %>

<% locals = {                      %>
<%  controller: 'popular_tvshows', %>
<%  action: 'index',               %>
<%  searchbar_input: nil           %>
<% }                               %>

<%= render partial: 'tv_shared/page_numbers', locals: locals %>
